.profile {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

@keyframes example {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  70% {
    transform: rotate(30deg);
  }

  100% {
    transform: skew(20deg, 10deg);
  }
}

.image {
  width: 40%;
  border-radius: 50%;
  background-color: #2A2A2A;
  margin: 20px auto;
transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: rotate(20deg);
    width: 100px;
      height: 200px;
      margin: 0 auto;
      border: 3px solid;
      /* анимируем */
      animation: example 4s infinite;
}

.userName {
  font-size: 40px;
  font-weight: bold;
}

.tag {
  color: #858585;
  font-size: 30px;
  margin-bottom: 5px;
}

.location {
  color: #858585;
  margin-bottom: 15px;
}


.stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style: none;
margin-bottom: 15px;
  background-color: #D3D3D3;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  padding: 1px 0;

}

.statItem {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #D3D3D3;
  padding: 10px;
  border-right: 2px solid #000000;

}

.statItem:last-child {
  border-right: none;
}

.statItem span:first-child {
  font-weight: bold;
}