.profile {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.image {
  width: 40%;
  border-radius: 50%;
  background-color: #2A2A2A;
  margin: 20px auto;
}

.userName {
  font-size: 40px;
  font-weight: bold;
}

.tag {
  color: #858585;
  font-size: 30px;
  margin-bottom: 5px;
}

.location {
  color: #858585;
  margin-bottom: 15px;
}


.stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style: none;
margin-bottom: 15px;
  background-color: #D3D3D3;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  padding: 1px 0;

}

.statItem {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #D3D3D3;
  padding: 10px;
  border-right: 2px solid #000000;

}

.statItem:last-child {
  border-right: none;
}

.statItem span:first-child {
  font-weight: bold;
}