.profile {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.image {
  width: 40%;
  border-radius: 100%;
  background-color: #2A2A2A;
  margin: 20px auto;
}

.statClass {
  display: flex;
  justify-content: space-between;
  text-align: center;
  list-style: none;
  margin: 20px 0 0 0;
  background-color: #D3D3D3;
  border-top: 2px solid;
  border-bottom: 2px solid
}

.statItem {
  display: flex;
  flex-direction: column;
  background: #D3D3D3;
  padding: 2% 10%;
  border-right: 2px solid;
}

.statItem:last-child {
  border: none;
}

.statItem span:first-child {
  font-weight: bold;
}
.tag {
  color: #777;
 font-size: 30px;
 margin-bottom: 15px;
}