.item {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  padding: 2%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.online {
 border-color: red;
}