#root {
  max-width: 1240px;
  margin: 0 auto;
  padding: 2rem;

  text-align: center;
}


.App {
background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(146, 12, 74, 1) 35%, rgba(0, 212, 255, 1) 100%);
  border: 3px solid;
  ;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin: 25px 0px 25px 0px;
}